@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;

  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

img {
  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.button {
  display: inline-block;
  margin: 0;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-light {
  background-color: #82b3d3;
}

.button-transparent {
  background-color: transparent;
}

.form-input {
  width: 100%;
  height: 48px;
  padding: 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;
}

.form-input::placeholder {
  opacity: 0.6;
}

.header {
  position: relative;
  z-index: 1;
}

.nav {
  display: grid;
  align-items: center;
  padding: 0 70px;

  gap: 20px;
  grid-template-columns: auto 1fr auto auto;
}

.logo {
  display: block;
  width: 140px;
  height: 70px;
  margin-right: 28px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;

  gap: 10px 32px;
}

.nav-link {
  display: inline-block;
  padding: 20px 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.nav-link:hover {
  color: #756157;
}

.nav-link:focus {
  color: #756157;
}

.nav-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.nav-link-current {
  text-decoration: 2px;

  text-decoration-color: #756257;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: 27px;
}

.user-list {
  display: grid;

  grid-template-columns: 44px 44px;
}

.user-link {
  position: relative;

  display: inline-block;
  width: 44px;
  height: 44px;
  padding-top: 13px;

  text-decoration: none;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;

  color: #000000;
}

.navigation-icon:hover {
  color: #756157;
}

.navigation-icon:focus {
  color: #756157;
}

.navigation-icon:active {
  color: rgba(117, 97, 87, 0.3);
}

.user-favorites-num {
  position: absolute;
  top: 0;
  right: 2px;

  display: inline-block;
  padding: 5px;

  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 10px;
}

.nav-button {
  width: 160px;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #756157;
}

.button-light:hover {
  background-color: #68a2ca;
}

.button-light:focus {
  background-color: #68a2ca;
}

.button-light:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #82b3d3;
}

.page-title {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.page-text {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.main {
  flex-grow: 1;
}

.hero {
  padding: 60px 70px;

  text-align: center;
  color: #ffffff;

  background-color: #5c84ab;
  background-image: url("../img/white-insert-hero.svg"),
    url("../img/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: bottom, top;
  background-size: 100% auto, cover;
}

.hero-image {
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.hero-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.description {
  padding: 50px 70px;
}

.description-title {
  margin-bottom: 25px;
}

.advantages-list {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-container {
  display: flex;
}

.advantages-item:last-child .advantages-container {
  flex-direction: row-reverse;
}

.advantages-item-full {
  color: #ffffff;

  background-color: #82b3d3;

  grid-column: 1/-1;
}

.advantages-content {
  max-width: 400px;
  min-height: 385px;
  padding: 115px 82px 70px;

  text-align: center;
}

.advantages-container .advantages-content {
  padding-top: 105px;
}

.advantages-title {
  position: relative;

  width: 182px;
  margin: 0 auto 30px;
  padding-bottom: 30px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-container .advantages-title {
  color: #ffffff;
}

.advantages-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 60px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.advantages-container .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-text {
  margin: 0;
}

.advantages-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.description-services {
  padding: 64px 70px;
}

.services-list {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
}

.services-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(even) {
  background-color: #ffffff;
}

.services-content {
  width: 400px;
  min-height: 385px;
  padding: 183px 85px 81px;
  padding-top: 183px;

  text-align: center;

  background-repeat: no-repeat;
  background-position: top 81px center;
}

.services-content-home {
  background-image: url("../img/home.svg");
}

.services-content-food {
  background-image: url("../img/food.svg");
}

.services-content-souvenirs {
  background-image: url("../img/souvenirs.svg");
}

.services-list .advantages-title {
  padding-bottom: 0;
}

.services-list .advantages-title::after {
  display: none;
}

.search {
  padding: 96px 70px;

  text-align: center;
}

.search-title {
  margin-bottom: 20px;
}

.search-text {
  margin-bottom: 54px;
}

.search-button {
  min-width: 376px;

  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  padding: 96px 70px 104px;
}

.subscribe-home {
  color: #ffffff;

  background-color: #5c84ab;
  background-image: url("../img/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin-bottom: 20px;
}

.subscribe-text {
  margin-bottom: 54px;
}

.subscribe-home .subscribe-title {
  color: #ffffff;
}

.subscribe-form {
  display: grid;
  width: 684px;
  margin: 0 auto;

  grid-template-columns: 1fr auto;
}

.subscribe-input {
  height: 52px;

  border-radius: 4px 0 0 4px;
}

.subscribe-input::placeholder {
  font-weight: 400;
}

.subscribe-button {
  width: 232px;

  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;
}

.filter {
  padding: 35px 70px 70px;

  color: #ffffff;

  background-color: #5c84ab;
  background-image: url("../img/catalog-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-title {
  margin: 0 0 8px;

  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link-home {
  display: block;
  width: 13px;
  height: 15px;

  background-image: url("../img/home-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-link-home:hover {
  opacity: 0.6;
}

.breadcrumbs-link-home:focus {
  opacity: 0.6;
}

.breadcrumbs-link-home:active {
  opacity: 0.4;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;

  margin-right: 28px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -17px;

  width: 8px;
  height: 10px;

  background-image: url("../img/arrow-icon.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.filter-form {
  display: grid;

  gap: 70px;
  grid-template-columns: auto auto 1fr 191px;
}

.filter-group {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-group-title {
  margin-bottom: 32px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control-input:hover,
.control-input:hover ~ .control-label {
  opacity: 0.6;
}

.filter-group-range {
  margin-left: auto;
}

.filter-group-buttons {
  display: flex;
  flex-direction: column;
  align-self: end;
}

.filter-submit {
  margin-bottom: 32px;
  padding: 8px;
}

.button-transparent:hover {
  background-color: transparent;
  opacity: 0.6;
}

.button-transparent:focus {
  background-color: transparent;
  outline: 3px solid #83b3d3;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: transparent;
}

.control-item {
  margin-bottom: 16px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.sorting {
  display: grid;
  align-items: center;
  padding: 30px 70px;

  gap: 20px 70px;
  grid-template-columns: 1fr auto auto;
}

.sorting-title {
  text-align: left;
}

.sorting-select {
  width: 292px;
  padding: 5px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-select:hover {
  border-color: #68a2ca;
}

.sorting-select:focus {
  outline: 2px solid #68a2ca;
}

.sorting-select:active {
  border-color: #000000;
}

.sorting-view {
  display: grid;

  gap: 8px;
  grid-template-columns: auto auto auto;
}

.view-link {
  display: block;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-link:hover {
  border-color: #000000;
}

.view-link:focus {
  outline: 2px solid #68a2ca;
}

.view-link:active {
  border-color: #000000;
}

.view-link-active {
  border-color: #000000;
}

.view-link-tile {
  background-image: url("../img/view-tile.svg");
}

.view-link-slideshow {
  background-image: url("../img/view-preview.svg");
}

.view-link-list {
  background-image: url("../img/view-list.svg");
}

.hotels {
  padding: 0 70px;
}

.hotels-list {
  display: grid;
  padding-bottom: 40px;

  border-bottom: 1px solid #e6e6e6;

  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.hotels-item {
  display: grid;
  min-height: 438px;
  padding: 20px;

  border: 1px solid #e6e6e6;
  border-radius: 4px;

  grid-column-gap: 20px;
  grid-row-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}

.hotels-image {
  height: 212px;
  margin: 0;

  grid-column: 1/-1;
}

.hotels-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.hotels-link {
  color: #000000;
  text-decoration: none;

  grid-column: 1/-1;
}

.hotels-link:hover {
  opacity: 0.6;
}

.hotels-link:focus {
  opacity: 0.6;
}

.hotels-link:active {
  opacity: 0.4;
}

.hotels-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotels-text-price {
  text-align: right;
}

.hotels-favorites-active {
  background-color: #7db54f;
}

.hotels-favorites-active:hover {
  background-color: #6c9e42;
}

.hotels-favorites-active:focus {
  background-color: #6c9e42;
}

.hotels-favorites-active:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #7db54f;
}

.hotels-rating-star {
  display: block;
  height: 37px;

  background-image: url("../img/stars.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.hotels-rating-star-4 {
  width: 90px;
}

.hotels-rating-star-3 {
  width: 70px;
}

.hotels-rating-star-2 {
  width: 50px;
}

.hotel-rating {
  display: inline-block;
  padding: 10px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;

  gap: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #82b3d3;
}

.pagination-link-current {
  color: #000000;

  background-color: #f2f2f2;
  border-color: transparent;

  pointer-events: none;
}

.pagination-link-current:focus {
  background-color: #f2f2f2;
}

.pagination-link-more {
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  background-color: transparent;
  border-color: transparent;
}

.pagination-link-more:hover {
  background-color: transparent;
}

.pagination-link-more:focus {
  background-color: transparent;
}

.pagination-link-more:active {
  color: #000000;

  background-color: transparent;
  opacity: 0.3;
}

.footer {
  display: grid;
  align-items: center;
  padding: 40px 70px 30px;

  grid-template-columns: auto 1fr auto;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social-link {
  color: #83b3d3;
}

.social-link svg {
  fill: currentColor;
}

.social-link:hover {
  color: #68a2ca;
}

.social-link:focus {
  color: #68a2ca;
}

.social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.phone {
  margin: 0 auto;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.phone:hover {
  color: #756157;
}

.phone:focus {
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-dev {
  display: block;

  color: #000000;
}

.footer-dev svg {
  fill: currentColor;
}

.footer-dev:hover {
  color: #756157;
}

.footer-dev:focus {
  color: #756157;
}

.footer-dev:active {
  color: rgba(117, 97, 87, 0.3);
}
